.lead__subtitle {
    max-width: 640px;
     margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    padding-bottom: 64px;
}

@media (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
}