.places__place {
   max-width: 984px;
   display: grid;
   grid-template-columns: repeat(2, auto);
   grid-template-rows: repeat(2, auto);
   column-gap: 40px;
   row-gap: 48px;
   padding-bottom: 80px;
}

@media (min-width : 320px) and (max-width : 767px) {
   .places__place {
      grid-template-columns: auto;
   }
   .places__place :last-of-type {
      padding-bottom: 0;
   }
}