.footer__nav > ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.footer__nav > ul > li {
    list-style-type: none;
    margin-right: 18px;
}

.footer__nav > ul > li:last-of-type {
    margin-right: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer__nav > ul {
        flex-direction: column;
    }
    .footer__nav > ul > li {
        padding-bottom: 32px;
    }
    .footer__nav > ul > li:last-of-type {
        padding-bottom: 48px;
    }
}
