.cover__overlay {
    background-image: url(../../../images/cover-trains.jpg);
    display: block;
    background-size: cover;
    background-position: center;
    padding-top: 245px;
    padding-left: 312px;
    padding-bottom: 245px;
    padding-right: 312px;
   
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.cover__overlay::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: opacity 0.4s ease-in-out;
}

.cover__overlay:hover::after {
    opacity: 0.8;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .cover__overlay {
        max-width: 100%;
        padding-top: 195px;
        padding-left: 232px;
        padding-bottom: 293px;
        padding-right: 232px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cover__overlay {
        max-width: 100%;
        padding-top: 115px;
        padding-left: 104px;
        padding-bottom: 213px;
        padding-right: 104px;
    }
}

@media (max-width: 767px) {
    .cover__overlay {
        max-width: 100%;
        padding-top: 33px;
        padding-left: 16px;
        padding-bottom: 33px;
        padding-right: 16px;
    }
}